@page "/"

<span data-testid="result">@result</span>

<HeadContent>
    <script>
        function getAudioElement() {
            let audioElement = document.createElement("audio");
            return audioElement;
        }
    </script>
</HeadContent>

@code {
    string? result;

    [Inject]
    public required EvaluationContext EvaluationContext { get; set; }

    protected override void OnAfterRender(bool firstRender)
    {
        if (!firstRender) return;
        result = "done";
        StateHasChanged();
    }
}