@using Excubo.Blazor.Canvas

<div @ref=wrapper @onpointerdown=PointerDown @onpointermove=PointerMove @onpointerup=PointerStop @onpointerout=PointerStop>
    <Canvas @ref="canvas" height="@Height" width="@amplitudes.Count" style="@canvasStyle" />
</div>