<label for=@inputId>Volume</label>
<input @bind-value=gain
       @bind-value:event="oninput"
       @bind-value:after=GainUpdatedAsync
       id=@inputId
       type="range"
       min="0"
       max="1"
       step="0.01"
       style="width:min(200px, 100%);">

@code {
    private string inputId = $"gain_{Guid.NewGuid()}"[..9];
    private float gain = 0.05f;

    [Parameter, EditorRequired]
    public GainNode? GainNode { get; set; }

    protected override async Task OnParametersSetAsync() =>
        await GainUpdatedAsync();

    public async Task GainUpdatedAsync()
    {
        if (GainNode is null) return;
        var audioParam = await GainNode.GetGainAsync();
        await audioParam.SetValueAsync(gain);
    }
}
