<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Blazor.WebAudio</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Keyboard">
                <span class="oi oi-musical-note" aria-hidden="true"></span> Keyboard
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Spectrogram">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Spectrogram
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AnalyzeMediaStream">
                <svg class="bi" viewBox="0 0 16 16">
                    <polyline stroke="white" stroke-width="2" fill="none" points="2,8 4,13 6,3 9,9 11,5 13,6 14,2" stroke-linejoin="round" stroke-linecap="round"></polyline>
                </svg> Analyze MediaStream
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="RecordMediaStream">
                <span class="oi oi-microphone" aria-hidden="true"></span> Record MediaStream
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="DecodeAudio">
                <span class="oi oi-envelope-open" aria-hidden="true"></span> Decode Audio
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AudioPlayer">
                <span class="oi oi-media-play" aria-hidden="true"></span> Audio Player
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ApplyFilter">
                <span class="oi oi-random" aria-hidden="true"></span> Apply Filter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Instruments">
                <span class="oi oi-bell" aria-hidden="true"></span> Instruments
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="AudioWorklets">
                <svg class="bi" viewBox="0 0 16 16">
                    <polygon stroke="#FFFFFF" stroke-width="2" fill="none" points="2,7 8,13 14,7 8,1"></polygon>
                    <polyline stroke="#FFFFFF" stroke-width="2" fill="none" points="5,10 3,12 3,15"></polyline>
                    <polyline stroke="#FFFFFF" stroke-width="2" fill="none" points="11,10 13,12 13,15"></polyline>
                </svg>
                Audio Worklets
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Playground">
                <span class="oi oi-puzzle-piece" aria-hidden="true"></span> Playground
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Status">
                <span class="oi oi-warning" aria-hidden="true"></span> API Coverage Status
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
