@page "/AudioWorklets"
@using KristofferStrube.Blazor.DOM
@implements IAsyncDisposable
@inject IJSRuntime JSRuntime
<PageTitle>WebAudio - Audio Worklets</PageTitle>
<h2>Audio Worklets</h2>

<p>Here we can play sound that is generated using Audio Worklet Processors that can manipulate or generate sound in any custom way.</p>

@if (worktletNode is null && processor is null)
{
    <div style="display:flex; flex-direction:column; grid-gap: 5px;">
        <button class="btn btn-success" @onclick=PlayWhiteSound>Play Sound from static JS White Noise Generator</button>
        <hr />
        <button class="btn btn-success" @onclick=PlayPushProcessedSound>Play Sound that is pushed from Blazor</button>
        <div>
            <label for="lowTide">Low Tide</label>
            <input id="lowTide" @bind=lowTide />
        </div>
        <div>
            <label for="highTide">High Tide</label>
            <input id="highTide" @bind=highTide />
        </div>
        <div>
            <label for="bufferRequestSize">Buffer Request Size</label>
            <input id="bufferRequestSize" @bind=bufferRequestSize />
        </div>
        <hr />
    </div>
}
else
{
    <button class="btn btn-warning" @onclick=StopSound>Stop Sound</button>
}
<br />
<GainSlider GainNode=gainNode />

@code {
    int lowTide = 100;
    int highTide = 500;
    int bufferRequestSize = 100;
    PullAudioWorkletProcessor? processor;
    AudioWorkletNode? worktletNode;

    AudioContext? context;

    AudioDestinationNode? destination;
    GainNode? gainNode;

    public async Task PlayWhiteSound()
    {
        // Get context.
        context = await AudioContext.CreateAsync(JSRuntime);

        // Register module
        await using AudioWorklet audioWorklet = await context.GetAudioWorkletAsync();
        await audioWorklet.AddModuleAsync("js/white-noise.js");

        // Create node from registered processor.
        worktletNode = await AudioWorkletNode.CreateAsync(JSRuntime, context, "white-noise");

        // Get destination and connect worklet node through gainNode
        destination = await context.GetDestinationAsync();
        gainNode = await GainNode.CreateAsync(JSRuntime, context, new() { Gain = 0.05f });
        await worktletNode.ConnectAsync(gainNode);
        await gainNode.ConnectAsync(destination);
    }

    public async Task PlayPushProcessedSound()
    {
        // Get context.
        context = await AudioContext.CreateAsync(JSRuntime);

        // Create and register node.
        processor = await PullAudioWorkletProcessor.CreateAsync(context);

        // Get destination and connect worklet node through gainNode
        destination = await context.GetDestinationAsync();
        gainNode = await GainNode.CreateAsync(JSRuntime, context, new() { Gain = 0.05f });
        await processor.Node.ConnectAsync(gainNode);
        await gainNode.ConnectAsync(destination);
    }

    public async Task StopSound()
    {
        if (context is not null)
        {
            await context.DisposeAsync();
        }

        if (gainNode is not null)
        {
            await gainNode.DisposeAsync();
            gainNode = null;
        }

        if (destination is not null)
        {
            await destination.DisposeAsync();
            destination = null;
        }

        if (processor is not null)
        {
            await processor.DisposeAsync();
            processor = null;
        }

        if (worktletNode is not null)
        {
            await worktletNode.DisconnectAsync();
            await worktletNode.DisposeAsync();
            worktletNode = null;
        }
    }

    public async ValueTask DisposeAsync()
    {
        await StopSound();
    }
}


