@page "/Playground"
@using KristofferStrube.Blazor.DOM
@using KristofferStrube.Blazor.WebIDL;
@using KristofferStrube.Blazor.WebAudio.WasmExample.AudioEditor
@implements IAsyncDisposable
@inject IJSRuntime JSRuntime
<PageTitle>WebAudio - Playground</PageTitle>
<h2>Playground</h2>

<textarea @bind="Input" @bind:event="oninput" style="width:100%;height:10vh;" @bind:after=AudioEditor.StopAsync />

<div style="height:70vh;">
    <AudioEditor @ref=AudioEditor @bind-Input="Input" />
</div>

@code {
    string Input = "";
    AudioEditor AudioEditor = default!;

    public async ValueTask DisposeAsync()
    {
        await AudioEditor.StopAsync();
    }
}


