@using BlazorContextMenu
﻿<Item OnClick="_ => BiquadFilter.AddNew(SVGEditor)"><div class="icon">🅱</div> New Biquad Filter</Item>
@code {
    [CascadingParameter]
    public required SVGEditor.SVGEditor SVGEditor { get; set; }

    [Parameter]
    public required object Data { get; set; }
}